{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css'%}">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <section class="sdc-courses-page">
        <h2 ><div class="head3"><u>Courses</u></div></h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SDC offers you a wide range of courses to build your future.</p>

    </section>
    <section id="bca">
      <h4 ><div class="head3"><u>B.C.A(Bachelor of Computer Application)</u></div></h4>
      <p>
        <h5>ELIGIBILITY</h5>
          Candidates should have passed in the qualifying examinations (Pre University or Intermediate) from any recognized Secondary Education Board.
          Any student who has passed Diploma in Engineering (of three year duration of Government of Karnataka) with a minimum of 35% of aggregate marks in every semester / year.
          <h5>DURATION</h5>
          3 years split into 6 semesters
          <h5>LEARNING OUTCOMES</h5>
          Enables the students to identify and sharpen their IT/ programming skills.
        </p>
    </section>
    <section id="bsc">
      <h4 ><div class="head3"><u>B.Sc(Bachelor of Science</u></div></h4>
      <h5>ELIGIBLITY</h5>
        Candidates should have passed in the qualifying examinations (Pre University or Intermediate) from any recognized Secondary Education Board for B.Sc Degree.

        <h5>LEARNING OUTCOMES</h5>

        The graduates in B.Sc.are in high demand from a broad range of employers, with varying career options.

        <h5>DURATION</h5>
        3 years split into 6 semesters

    </section>
    <section id="bcom">
      <h4 ><div class="head3"><u>B.Com(Bachelor of Commerce)</u></div></h4>
      <h5>ELIGIBLITY</h5>
        Candidates should have passed in the qualifying examinations (Pre University or Intermediate) from any recognized Secondary Education Board.

        <h5>DURATION</h5>
        3 years split into 6 semesters

      <h5>LEARNING OUTCOMES</h5>
      Able to demonstrate an integrated understanding of key concepts, techniques and trends in one or more fields of business practice and the challenges and opportunities involved in applying this knowledge in diverse contexts.
    </section>
    <section id="bba">
      <h4 ><div class="head3"><u>B.B.A(Bachelor of Bussiness Administration)</u></div></h4>
      <h5>ELIGIBLITY</h5>
      Candidates should have passed in the qualifying examinations (Pre University or Intermediate) from any recognized Secondary Education Board for BBA Degree.

      <h5>DURATION</h5>
      3 years split into 6 semesters

      <h5>LEARNING OUTCOMES</h5>
      Construct, analyze and evaluate different forms of argument and present them in a logical and coherent manner.

    </section>
    <section id="msc">
      <h4 ><div class="head3"><u>M.Sc(Master of Science)</u></div></h4>
      Candidate should have passed in B.Sc or BCA with Mathematics as Compulsory subject   from any UGC recognized university   with at least 50 percent aggregate.

      <h5>DURATION</h5>
      2 years split into 4 semesters

      <h5>LEARNING OUTCOMES</h5>

      Understanding of the fundamental axioms in mathematics and capability of developing ideas based on them. Inculcate mathematical reasoning. To develop ones own learning capacity. Prepare and motivate students for research studies in mathematics and related fields.

    </section>
    <section id="mcom">
      <h4 ><div class="head3"><u>M.Com(Master of Commerce)</u></div></h4>
      <h5>ELIGIBLITY</h5>
      Candidate should have passed in B.Com or B.BA   from any UGC recognized university   with at least 50 percent aggregate (SC /ST 45 percent).

      <h5>DURATION</h5>
      2 years split into 4 semesters

      <h5>LEARNING OUTCOMES</h5>
      The entire course is outcome-based and faculty are sensitive to ensure that the outcomes for each course is defined well at the beginning of the program and shared with each student through course handouts. This ensures expectation setting is taken care of between the learner and the teacher. Interactive lectures, pedagogy that is evolving, assignments, and assessments ensure that all students achieve the specified outcomes.

    </section>
  </body>
</html>